<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.it00046.bodina3" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Activitat principal: SINGLE -->
        <activity
            android:name=".principal"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Fill 1: Configuració -->
        <activity
            android:name=".configuracio"
            android:label="@string/configuracioTitol"
            android:parentActivityName=".principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".principal" />
        </activity>
        <!-- Fill 2: Alta celebracio -->
        <activity
            android:name=".celebracio_alta"
            android:label="@string/title_activity_ac_celebracio_alta" >
        </activity>
        <!-- Fill 3: Entitats: SINGLE -->
        <activity
            android:name=".entitat_pral"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_ac_entitat_pral"
            android:launchMode="singleTask"
            android:parentActivityName=".principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".principal" />
        </activity>
        <!-- Fill 1 de Entitats: Solicitar -->
        <activity
            android:name=".entitat_solicitar"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_ac_entitat_solicitar"
            android:parentActivityName=".entitat_pral" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".entitat_pral" />
        </activity>
        <!-- Finestra de recerca, dintre de solicitar -->
        <activity
            android:name=".entitat_recerca"
            android:label="@string/title_activity_ac_entitat_recerca"
            android:launchMode="singleTop"
            android:parentActivityName=".entitat_solicitar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".entitat_solicitar" />
        </activity>
        <activity
            android:name=".entitat_detall"
            android:label="@string/title_activity_ac_entitat_detall"
            android:parentActivityName=".entitat_pral" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".entitat_pral" />
        </activity>
        <activity
            android:name=".entitat_modificar"
            android:label="@string/title_activity_entitat_modificar"
            android:parentActivityName=".entitat_pral" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".entitat_pral" />
        </activity>
    </application>

</manifest>
